{% extends "newsfeed/base.html" %}
{% load crispy_forms_tags %}
{% block javascript %}
	<script type="text/javascript">
		$("#id_username").on('input', function() {
			var form = $(this).closest("form");
			$.ajax({
				url: form.attr("data-validate-username-url"),
				data: form.serialize(),
				dataType: 'json',
				success: function(data) {
					if (data.is_taken) {
						$("#id_username").addClass("is-invalid");
					}
				}
			});
		});

	</script>
{% endblock javascript%}
{% block content %}
	<div class="content-section">
		<form method="POST" data-validate-username-url="{% url 'validate-username' %}">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">Already have an account? <a href="{% url 'login' %}" class="ml-2">Sing in</a></small>
		</div>
	</div>
{% endblock content %}